@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Liu+Jian+Mao+Cao&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');

@media only screen and (min-width: 1000px) {
    body {
        background-image: url(./img/web_background.png);
    }

    .welcomeImg {
        width: 30vw;
        left: 25vh;
        top: 35vh;
        position: fixed;
    }

    .nameApp {
        width: 25vw;
        position: fixed;
        top: 15vh;
        left: 30vh;
    }

    h2 {
        font-family: 'Liu Jian Mao Cao', cursive;
        color: rgb(21, 48, 76);
        font-size: 1.8em;
        font-weight: bold;
        position: fixed;
        top: 27vh;
        left: 35vh;
    }

    /* 414x736 */
    #btnReturn {
        width: 300px;
    }

    .btnRegister {
        width: 30vw;
        height: 6vh;
        margin: 1vh;
        border-radius: 10px;
        color: rgb(6, 28, 50);
        background-color: rgb(255, 255, 255);
        font-family: 'Quicksand', sans-serif;
        position: fixed;
        top: 20vw;
        left: 60vw;
    }

    .btnSignIn {
        width: 30vw;
        height: 6vh;
        margin: 1vh;
        border-radius: 10px;
        color: rgb(6, 28, 50);
        background-color: rgb(255, 255, 255);
        font-family: 'Quicksand', sans-serif;
        position: fixed;
        top: 30vw;
        left: 60vw;
    }

    .btngoogle {
        width: 30vw;
        height: 6vh;
        margin: 1vh;
        border-radius: 10px;
        color: rgb(6, 28, 50);
        background-color: rgb(255, 255, 255);
        font-family: 'Quicksand', sans-serif;
        background-image: url('./img/btn_google.png');
        background-size: 3vw;
        background-position: 6vw;
        background-repeat: no-repeat;
        position: fixed;
        top: 25vw;
        left: 60vw;
    }

    p {
        font-family: 'Quicksand', sans-serif;
        font-size: 1.4em;
        font-weight: bolder;
        color: rgb(6, 28, 50);
        position: fixed;
        top: 43vw;
        left: 23vh;
    }

    #createAccount {
        padding-left: 10vw;
        display: flex;
        flex-direction: column;

        margin-top: 20vh;
        position: absolute;
    }

    #createAccount p {
        font-family: 'Quicksand', sans-serif;
    }

    #createAccount img {
        width: 5vw;
        opacity: 0.5;
        align-self: center;
        margin-top: 25vh;
    }

    #createAccount input {
        width: 75vw;
        height: 5vh;
        opacity: 0.6;
        border-radius: 5px;
    }

    #createAccount button {
        width: 20vw;
        align-self: flex-end;
        margin-top: 2vh;
    }

    #createAccount #btnReturn {
        width: 20vw;
        border: none;
        align-self: flex-start;
        margin-left: -7vw;
        cursor: pointer;
        background: transparent;
        margin-top: -28vw;
        position: absolute;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        background-image: url(./img/fondo.png);
        background-size: cover;
    }

    .welcome, .homePage{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1vh;
    }

    #createAccount
     {
        padding-left: 10vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 20vh;
    }

    .welcome img {
        width: 75vw;
    }

    h2 {
        font-family: 'Quicksand', sans-serif;
        color: rgb(21, 48, 76);
        font-size: 1.8em;
        margin-top: 0;
    }

    .btnRegister {
        width: 55vw;
        height: 6vh;
        margin: 1vh;
        border-radius: 10px;
        color: rgb(6, 28, 50);
        background-color: rgb(255, 255, 255);
        font-family: 'Quicksand', sans-serif;
    }

    .btnSignIn {
        width: 55vw;
        height: 6vh;
        margin: 1vh;
        border-radius: 10px;
        color: rgb(6, 28, 50);
        background-color: rgb(255, 255, 255);
        font-family: 'Quicksand', sans-serif;
    }

    .btngoogle {
        width: 55vw;
        height: 6vh;
        margin: 1vh;
        border-radius: 10px;
        color: rgb(6, 28, 50);
        background-color: rgb(255, 255, 255);
        font-family: 'Quicksand', sans-serif;
        background-image: url('./img/btn_google.png');
        background-size: 8vw;
        background-repeat: no-repeat;
    }

    p {
        font-family: 'Quicksand', sans-serif;
        color: rgb(6, 28, 50);
    }

    .welcome p {
        margin-left: 20vw;
        margin-right: 20vw;
        text-align: center;
    }

    .login {
        padding-left: 10vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        position: absolute;
    }

    #createAccount p,
    .login p {
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        margin: 1vh 0;
    }

    #createAccount img {
        width: 12vw;
        opacity: 0.5;
        align-self: flex-end;
        margin-top: -25vw;
        margin-bottom: 13vh;
    }

    #createAccount input{
        margin-left: 0vw;
        width: 75vw;
        height: 5vh;
        opacity: 0.6;
        border-radius: 5px;
        background-color: #FFFFFF;
        border: none;
        padding: 0.8vh; 
    }
    .login input {
        width: 75vw;
        height: 5vh;
        opacity: 0.6;
        border-radius: 5px;
        margin: auto;
        background-color: #FFFFFF;
        border: none;
        padding: 0.8vh;
    }


    #btnSend,
    #btnSendlogin {
        width: 30vw;
        height: 12vw;
        border: none;
        margin-top: 6vh;
        border-radius: 3vw;
        background-color: #40888E;
        padding: 3vw;
        color: aliceblue;
        text-align: center;
        margin: auto;
        font-weight: bolder;
    }

    #btnSend {
        margin-top: 7vh;
    }

    #btnSendlogin {
        width: 100%;
        margin-top: 4vh;
    }

    #btnReturn {
        width: 20vw;
        border: none;
        align-self: flex-start;
        margin-left: -7vw;
        cursor: pointer;
        background: transparent;
        margin-top: -25vw;
        position: absolute;
        background-image: url('./img/keyboard_return.png');
        background-repeat: no-repeat;
        background-size: 3vw;
    }

    .messageError {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        color: rgb(169, 8, 8);
        background-color: rgba(238, 147, 147, 0.638);
        width: 30vh;
        align-self: center;
    }

    #btnReturnLogin,
    #btnReturnhome {
        width: 20vh;
        background-color: transparent;
        border: none;
        margin-left: -5vw;
        background-image: url('./img/keyboard_return.png');
        background-repeat: no-repeat;
        background-size: 3vw;
    }

    #logoImg {
        width: 40vw;
        padding: 5vw;
        margin: auto;
        margin-top: 2vh;
    }

    .homePage {
        display: flex;
        justify-content: center;
        color: #40888E;
        font-family: 'Quicksand', sans-serif;
    }

    #logoImgHome {
        width: 12vw;
        opacity: 0.6;
        align-self: flex-end;
    }
    #btn-post-save {
        background-image: url('./img/send.png');
        background-repeat: no-repeat;
        background-position: 21vw;
        background-color: #fbc852;
        width: 30vw;
        padding: 1vh;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 2vw;
        font-family: 'Quicksand', sans-serif;
        margin: 2vw 8.5vw;
        align-self: flex-end;
        border: none;
    }
    #post-description {
        width: 80vw;
        height: 15vh;
        border-radius: 2vw;
        background-color: #ffffff74;
        border: none;
    }
    
    .div-posts {
        background-color: #ffffff60;
        width: 80vw;
        margin: 2vh;
        padding: 1vh;
        border-radius: 2vw;
        display:grid;
        grid-template-rows: 10vh 5vh;
        grid-template-areas: 
        "header | main ";
    }
    }


    

    .btn-delete{
        background-image: url('./img/delete.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 4vh;
        height: 4vh;

    }